/*
.account.md {
    margin-top: var(--toolbar-padding-md);
}

.account.ios {
    margin-top: calc(var(--toolbar-padding-ios) + env(safe-area-inset-top));
    margin-bottom: env(safe-area-inset-bottom);
}
*/

.account,
.account__header,
.account__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.account__header{
    padding: 1rem;

}

.account__header__name{
    color: var(--ion-color-success);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 100px;
}

.account-background{
    position: absolute;
    height: 250px;
    top: 0px;
    background-image: url('../../../assets/img/profile-background.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.account{

}

.account__header{
    position: relative;

}

.account-background-mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 157, 0.425);
}

.account-card{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 200px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(207, 204, 204);
}

.account__header__image{
    min-height: 7rem;
    min-width: 7rem;
    position: absolute;
    top: -50px;
    opacity: 1;
    box-shadow: 0px 0px 20px rgb(165, 165, 165);
}

.account__header__name{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
   // text-shadow: 0px 0px 1px rgb(0, 255, 128);
}

.account__header__button{
    padding: 10px 20px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}