.main-content[data-platforms*=ios] {
    margin-top: calc(env(safe-area-inset-top) + var(--toolbar-padding-ios));
    margin-bottom: env(safe-area-inset-bottom);
    height: calc(
        100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) -
            var(--toolbar-padding-ios)
    );
}

.main-content {
    margin-top: calc(env(safe-area-inset-top) + var(--toolbar-padding-md));
    margin-bottom: env(safe-area-inset-bottom);
    height: calc(
            100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) -
            var(--toolbar-padding-md)
    );
}

.main-content > div {
    height: 100% !important;
}

.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #a19f9f solid;
    margin: 0 10px;
}

.header h3 {
    font-weight: 600;
    color: var(--color-app-logo-grey);
}

.header span {
    font-weight: 400;
    color: var(--color-app-logo-green);
}

.header__logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40%;
    width: 100%;
}

.button {
    --background: var(--color-app-logo-green);
	--background-hover: var(--color-app-logo-green-darker);
    --background-activated: var(--color-app-logo-green-darker);
    --border-radius: 0;
    margin: 0;
}

.button.secondary {
    --background: var(--color-app-logo-grey);
	--background-hover: var(--color-app-logo-grey-darker);
    --background-activated: var(--color-app-logo-grey-darker);
}

.spinner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

hr {
    background-color: black;
    opacity: .4;
    margin: 10px 0;
}



.ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
  
    --ion-toolbar-background: #0d0d0d;
  
    --ion-item-background: #000000;
  }
  

  .md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-border-color: #222222;
  
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
  
    --ion-item-background: #1e1e1e;
  
    --ion-toolbar-background: #1f1f1f;
  
    --ion-tab-bar-background: #1f1f1f;
  }


